{% extends 'layout.html' %}
{% block content %}

<div class='container'>
    <form action='/send' method='POST' onsubmit='return check(this)'>
        <p><label for='topic'>Title:</label></p>
        <p><input type='text' name='topic' id='topic' style='width: 100%; box-sizing: border-box;'></p>
        <p><label for='message'>Message:</label></p>
        <p><textarea name='content' id='content' style='width: 100%; box-sizing: border-box;'></textarea></p>
        <p><input type='submit' value='Send'></p>
    </form>
</div>

<script>
    function check(form) {
        if (form.title.value.length > 100) {
            alert("Title too long. Ensure it is under 100 characters.");
            return false;
        }
        if (form.message.value.length > 5000) {
            alert("Message too long. Ensure it is under 5000 characters.");
            return false;
        }
        return true;
    }
</script>

{% endblock %}