{% extends 'layout.html' %}
{% block content %}

<div class='container'>
  {% if session.user_username %}
    <h2 class='center'>Welcome to chat {{ session.user_username }}!</h2>
  {% endif %}

  <p>Read the <a href='/rules'>rules</a></p>

  <form action='/new' method='GET'>
    <input type='submit' value='Start a new conversation'>
  </form>

  <p>Number of messages: {{ count }}</p>
  <hr>
  {% for message in messages | sort(attribute='2', reverse=true) %}
    <p><i>Message:</i> {{ message[0] }}</p>
    <p><i>Sent by:</i> {{ message[1] }}</p>
    <p><i>Time:</i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }}</p>
    <hr>
  {% endfor %}

  <p>Are you ready to leave? You can log out from here if you're finished.</p>
  <form action='/logout' method='GET'>
    <input type='submit' value='Logout'>
  </form>
</div>
<hr>

{% endblock %}