{% extends 'layout.html' %}
{% block content %}

<div class='container'>
    <h2 class='center'>Rules</h2>
    <p><strong>1.</strong> Be respectful: Treat others with kindness and respect.</p>
    <p><strong>2.</strong> No hate speech or harassment: Avoid any form of hate speech, bullying, or harassment.</p>
    <p><strong>3.</strong> Stay on topic: Keep discussions relevant to the forum's theme or topic.</p>
    <p><strong>4.</strong> Use appropriate language: Keep the language appropriate for all users, avoiding offensive or vulgar language.</p>
    <p><strong>5.</strong> Respect privacy: Avoid sharing personal information about yourself or others without consent.</p>

    <p><a href='/profile'>Return to profile</a></p>
</div>
<hr>

{% endblock %}